<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<h1 class="text-center">Vincent REHM</h1>
			<br>
			<img src="/assets/IMG_2482.jpg" alt="Vincent REHM 1">
			<%= image_tag("IMG_2482.jpg", :alt => "Vincent REHM 2") %>
			<div class="caption">
			<h1><%= link_to "", "https://fr.linkedin.com/in/vincentrehm", class: "btn btn-block btn-social-icon btn-linkedin fa fa-linkedin-square" %></h1>	    
			</div>
		</div>
	</div>
</div>